<div class="row">
    <div class="col-xs-12">
        <img src="" alt="" class="imgresponsive">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>Recipe name</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group">
            <button class="btn btn-warning dropdown-toggle">
                Manage Recipe <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#"></a>Shopping list</li>
                <li><a href="#"></a>Edit Recipe</li>
                <li><a href="#"></a>Dellet recipe</li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">Description</div>
</div>
<div class="row">
    <div class="col-xs-12">Ingredients</div>
</div>